<div class="container-sm bg-light-subtle form-container py-2 px-2 my-4">
  <div class="text-center">
    <h2>Register</h2>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="my-1 form-group">
      <label for="username" class="form-label">User name</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        formControlName="username"
        placeholder="Enter your username"
      />
      <div
        *ngIf="
          form.controls['username'].invalid &&
          (form.controls['username'].dirty || form.controls['username'].touched)
        "
      >
        <div
          *ngIf="form.controls['username'].errors!['required']"
          class="text-danger"
        >
          Username is required.
        </div>
      </div>
    </div>
    <div class="my-1 form-group">
      <label for="email" class="form-label">Email</label>
      <input
        type="text"
        class="form-control"
        id="email"
        name="email"
        formControlName="email"
        placeholder="Enter your email"
      />
      <div
        *ngIf="
          form.controls['email'].invalid &&
          (form.controls['email'].dirty || form.controls['email'].touched)
        "
      >
        <div
          *ngIf="form.controls['email'].errors!['required']"
          class="text-danger"
        >
          Email is required.
        </div>
      </div>
      <div
        *ngIf="
          form.controls['email'].invalid &&
          (form.controls['email'].dirty || form.controls['email'].touched)
        "
      >
        <div
          *ngIf="form.controls['email'].errors!['email']"
          class="text-danger"
        >
          Email is not valid.
        </div>
      </div>
    </div>
    <div class="my-1 form-group">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        formControlName="password"
        placeholder="Enter your password"
      />
      <div
        *ngIf="
          form.controls['password'].invalid &&
          (form.controls['password'].dirty || form.controls['password'].touched)
        "
      >
        <div
          *ngIf="form.controls['password'].errors!['required']"
          class="text-danger"
        >
          Password is required.
        </div>
      </div>
      <div
        *ngIf="
          form.controls['password'].invalid &&
          (form.controls['password'].dirty || form.controls['password'].touched)
        "
      >
        <div
          *ngIf="form.controls['password'].errors!['minlength']"
          class="text-danger"
        >
          Password must contain atleast 8 characters.
        </div>
      </div>
    </div>
    <div class="d-flex">
      <button
        type="submit"
        [disabled]="form.invalid"
        class="btn btn-success mt-4"
        style="width: 100%"
      >
        Register
      </button>
    </div>
  </form>
</div>
